<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaulHref></ion-back-button>
        </ion-buttons>
        <h1 text-center>Espera un momento...!</h1>

    </ion-toolbar>
</ion-header>

<h2>No te angusties, tómate unos minutos inhala y exhala </h2>
<ion-content>
    <ion-card>
        <ion-img src="/assets/img/respira.gif"></ion-img>
        <h2>Cuando estés calmada continúa</h2>
    </ion-card>

    <ion-button color="success" [routerLink]="['/cuestionario-e/']">
        <ion-icon name="arrow-redo-sharp"></ion-icon>
        <ion-label>Continuar</ion-label>

    </ion-button>
</ion-content>