<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaulHref></ion-back-button>
        </ion-buttons>
        <h1 text-center> Que debo buscar?</h1>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="/assets/img/que_buscas.jpg"> </ion-img>
    </ion-card>

    <ion-item>
        <ion-icon slot="star" name="pin"></ion-icon>
    </ion-item>
    <div class="contenedor">

        <p> Mediante la autoexploración la mujer puede detectar diversas anomalías que los tumores generan en la zona de los senos.</p>

    </div>

    <ion-button ion-button full icon-left color="success" [routerLink]="['/autoexamen2/']">
        <ion-icon name="arrow-redo"></ion-icon>
        <ion-label>siguiente</ion-label>
    </ion-button>

</ion-content>