<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaulHref></ion-back-button>
        </ion-buttons>
        <h1 text-center>Frente al espejo</h1>

    </ion-toolbar>
    <div class="contenedor">

        <p> Acuestate sobre tu espalda y coloca una almohada debajo de tu hombro derecho, lleva tu mano hasta la cabeza. con los tres dedos centrales juntos y planos de la mano izquierda, realiza movimientos concentricos o espirales alrededor de la mama,
            presionando suave pero firmemente con las yemas de los dedos y efectuando movimientos circulares en cada punto palpado, desde la periferia de la mama hasta el pezón, y en el sentido de las agujas del reloj.
    </div>

</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="/assets/img/mama2.gif"> </ion-img>
    </ion-card>

    <ion-button ion-button full icon-left color="success" [routerLink]="['/autoexamen4/']">
        <ion-icon name="arrow-redo"></ion-icon>
        <ion-label>siguiente</ion-label>
    </ion-button>

</ion-content>