<ion-header>
    <ion-toolbar>
        <ion-buttons danger="start">
            <ion-back-button defaulHref></ion-back-button>
        </ion-buttons>
        <ion-title>Acostada</ion-title>
        <ion-item color="light">
            <ion-icon slot="star" name="pin"></ion-icon>


            <p>Puedes realizar la exploracion tumbada, acuestate sobre tu espalda y coloca una toalla doblada o una almohada debajo de tu hombro derecho, y lleva tu mano hasta la cabeza. Entonces con los dedos de la mano izquierda unidos y planos repite
                los mismos pasos anteriores. Con el brazo levantado y la mano detras de la nuca, palpar el pecho. con los tres dedos centrales juntos y planos de la mano izquierda, realiza movimientos concentricos o espirales alrededor de la mama, presionando
                suave pero firmemente con las yemas de los dedos y efectuando movimientos circulares en cada punto palpado, desde la periferia de la mama hasta el pezón, y en el sentido de las agujas del reloj.

            </p>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="/assets/img/mama2.gif"> </ion-img>
    </ion-card>

    <ion-button [routerLink]="['/autoexamen4/']">
        <ion-icon name="arrow-redo"></ion-icon>
        <ion-label>siguiente</ion-label>
    </ion-button>

</ion-content>