<ion-header>

    <ion-toolbar color="danger">

        <ion-buttons slot="start">
            <ion-icon (click)="openMenu()" style="font-size: 40px; margin-left: 6px;" color="light" name="options"></ion-icon>
            <br>
            <br>
            <ion-img [src]="img"></ion-img>
        </ion-buttons>


    </ion-toolbar>


</ion-header>







<ion-menu side="start" menuId="first" contentId="main">

    <ion-header>
        <ion-toolbar color="danger">
            <ion-title>
                <h1>Menu Principal</h1>
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>



            <ion-item [routerLink]="['/perfil/']">
                <ion-icon color="success" name="person-add" style="margin-right: 15px; width: 30px;"></ion-icon> Mi perfil
            </ion-item>

            <ion-item [routerLink]="['/tratamiento/']">
                <ion-icon color="success" name="clipboard" style="margin-right: 15px; width: 30px;"></ion-icon>Tratamiento</ion-item>

            <ion-item [routerLink]="['/prox-autoexamen/']">
                <ion-icon color="success" name="woman" style="margin-right: 15px; width: 30px;"></ion-icon>Próximo autoexamen</ion-item>
            <ion-item [routerLink]="['/autoexamen-ant/']">
                <ion-icon color="success" name="eye" style="margin-right: 15px; width: 30px;"></ion-icon>Autoexamen anterior</ion-item>
            <ion-item [routerLink]="['/privacidad/']">
                <ion-icon color="success" name="warning" style="margin-right: 15px; width: 30px;"></ion-icon>Privacidad y condiciones de uso</ion-item>

            <ion-item>
                <ion-icon color="success" name="remove-circle" style="margin-right: 15px; width: 30px;"></ion-icon>Cerrar sesion</ion-item>

        </ion-list>


    </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>








<ion-content>



    <ion-card>
        <ion-img src="/assets/img/3761037.jpg"> </ion-img>

    </ion-card>


    <ion-title>
        <div class="titulos-contenedor">
            <h2 class="text-center"><b>Healthy Breash</b></h2>
        </div>
        <div class="descripcion">
            <p>Prevenir el cancer es tu decisión, nuestra app <br> camina contigo de la mano.</p>
        </div>


    </ion-title>
</ion-content>







<ion-tabs>

    <ion-tab-bar slot="bottom" color="danger">
        <ion-tab-button>
            <ion-icon name="home"></ion-icon>
            <ion-label>Inicio</ion-label>
        </ion-tab-button>



        <ion-tab-button [routerLink]="['/autoexamen/']">
            <ion-icon name="eye"></ion-icon>
            <ion-label>Autoexamen</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/recursos/']">
            <ion-icon name="book"></ion-icon>
            <ion-label>Recursos</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/cita/']">
            <ion-icon name="create"></ion-icon>
            <ion-label>Cita Médica</ion-label>
        </ion-tab-button>



    </ion-tab-bar>
</ion-tabs>