@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
ion-toolbar {
    background-color: var(--ion-color-micolor);
}

ion-tab-bar {
    background-color: var(--ion-color-micolor);
}

ion-tab-bar {
    background-color: var(--ion-color-blanco);
}

.titulos-contenedor {
    display: flex;
    justify-content: center;
}

.descripcion p {
    font-size: 0.8em;
    text-align: center;
}