<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>


        <ion-title>
            <h2>Programar cita</h2>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-item>
        <h3>Nombre del doctor/a </h3>
        <ion-input color="dark" clearInput> </ion-input><br>
    </ion-item>

    <ion-item>
        <h3>Descripcion </h3>
        <ion-input color="dark" clearInput> </ion-input><br>
    </ion-item>
    <ion-item>
        <h3>Fecha de cita</h3>
        <ion-datetime placeho="Cita" display-format="YYYY MMMM DD" cancelText="cancelar!!!">
        </ion-datetime>

    </ion-item>
    <ion-item>
        <h3>Hora</h3>
        <ion-datetime displayFormat="h:mm a"></ion-datetime>
    </ion-item>

</ion-content>
<ion-content>
    <ion-button color="danger" expand="block" fill="outline">Guardar</ion-button>
</ion-content>