<ion-header>
    <ion-toolbar>
        <ion-buttons danger="start">
            <ion-back-button defaulHref></ion-back-button>
        </ion-buttons>

        <ion-title>
            <h2>Programar cita</h2>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-item>
        <ion-label>Nombre del doctor/a </ion-label>
        <ion-input color="primary" clearInput> </ion-input><br>
    </ion-item>

    <ion-item>
        <ion-label>Descripcion </ion-label>
        <ion-input color="primary" clearInput> </ion-input><br>
    </ion-item>
    <ion-item>
        <ion-label>Fecha de cita</ion-label>
        <ion-datetime placeho="Cita" display-format="YYYY MMMM DD" cancelText="cancelar!!!">
        </ion-datetime>

    </ion-item>
    <ion-item>
        <ion-label>Hora</ion-label>
        <ion-datetime displayFormat="h:mm a"></ion-datetime>
    </ion-item>

</ion-content>