<ion-header>
    <ion-toolbar>

        <ion-title text center> Recursos</ion-title>

        <ion-buttons slot="start">
            <ion-back-button defaulHref></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <h3>El cáncer de mama es el crecimiento anormal y desordenado de las células. Estas células, agrupadas, forman tumoraciones (pelotas) que pueden viajar a otras zonas del cuerpo.</h3>


        <ion-img src="/assets/img/recursos2.webp"> </ion-img>
    </ion-card>



</ion-content>