<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaulHref></ion-back-button>
        </ion-buttons>
        <h1 text-center>Frente al espejo</h1>

    </ion-toolbar>
    <div class="contenedor">

        <p> Con los brazos relajados observar detenidamente el aspecto de tus mamas (contorno, tamaño, alteraciones de la superficie, tales como hinchazón, hoyuelos, erupciones cutáneas, cambios de color de la piel o si cualquiera de los pezones se vuelve
            hacia dentro). Repite la misma operación con las manos en la nuca y las manos en la cadera.</p>

    </div>


</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="/assets/img/mama1.gif"> </ion-img>
    </ion-card>

    <ion-button ion-button full icon-left color="success" [routerLink]="['/autoexamen3/']">
        <ion-icon name="arrow-redo"></ion-icon>
        <ion-label>siguiente</ion-label>
    </ion-button>

</ion-content>