ion-item {
    background-color: var(--ion-color-color);
}

contenedor {
    width: 380px;
    margin: auto;
    margin-top: 50px;
}

.introduccion {
    margin-bottom: 30px;
}

h3 {
    color: #ff3399;
    font-size: 1.2em;
    font-weight: 600;
}

.tarjeta {
    margin-bottom: 40px;
}

p {
    font-size: 1.2em;
    color: grey;
}

h2 {
    margin-bottom: 40px;
}

h3 {
    color: #ff3399;
    font-size: 1.2em;
    font-weight: 600;
}