<ion-header>
    <ion-toolbar color=danger>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Editar Contraseña</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item lines="full">
        <ion-label position="floating">Contraseña actual</ion-label>
        <ion-input type="text" required></ion-input>

    </ion-item>
    <ion-item lines="full">
        <ion-label position="floating">Nueva contraseña</ion-label>
        <ion-input type="text" required></ion-input>

    </ion-item>
    <ion-item lines="full">
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input type="text" required></ion-input>

    </ion-item>
</ion-content>