<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <h2>privacidad</h2>
    </ion-toolbar>
</ion-header>
<p> Protegemos la privacidad de todos. Es una responsabilidad que adquirimos como creadores de productos y servicios gratuitos accesibles para todo el mundo. Tanto nuestro equipo como nuestros procesos y productos se rigen por estos principios para garantizar
    la privacidad y la seguridad de los datos de nuestros usuarios.</p>
<ion-content>

</ion-content>