.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima {
    position: absolute;
    top: 10px;
    left: 10px;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    color: #ff3399;
    font-size: 1.2em;
    font-weight: 600;
}