<ion-header>
    <ion-toolbar color=danger>
        <ion-buttons slot="start">
            <ion-back-button defaulHref></ion-back-button>
        </ion-buttons>
        <ion-title>
            <h2>Registro de tratamiento </h2>
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <h3>Doctor tratante: </h3>
        <ion-input color="dark" clearInput> </ion-input>
    </ion-item>

    <ion-item>
        <h3>Descripción: </h3><br>
        <ion-input color="dark" clearInput> </ion-input>
    </ion-item>

    <ion-item>
        <h3>Tipo de tratamiento: </h3><br>
        <ion-input color="dark" clearInput> </ion-input>
    </ion-item>

    <ion-item>
        <h3>Dosis: </h3>
        <ion-input color="dark" clearInput> </ion-input>
    </ion-item>

    <ion-item>
        <h3>Frecuencia: </h3>
        <ion-input color="dark" clearInput> </ion-input>
    </ion-item>



</ion-content>
<ion-content>
    <ion-button color="danger" expand="block" fill="outline">Agregar</ion-button>
    <ion-button color="danger" expand="block" fill="outline">Modificar</ion-button>
    <ion-button color="danger" expand="block" fill="outline">Eliminar</ion-button>


</ion-content>