<ion-header>
    <ion-toolbar color="green ">
        <ion-title>
            Lo mejor de ti, eres tú
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
    <ion-grid>
        <ion-row>
            <ion-col align-self-center>
                <ion-button [routerLink]="['/login']" expand="block" color="danger"> <i>Iniciar sesión</i></ion-button>
                <span class="divider line one-line">or</span>
                <ion-button [routerLink]="['/registration']" expand="block" color="danger">Registrarse</ion-button>



                <span class="already">Aún no te has registrado?</span>


            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>